<?php

namespace Daw\config;

class Config
{
    public const DB_HOST = "";
    public const DB_PORT = "";
    public const DB_USERNAME = "";
    public const DB_PASSWD = "";
    public const DB_DB = "";
}

?>
